.Portfolio {
  text-align: center;
}

.Portfolio-header {
	min-height: 12vh;
    display: block; 
    font-size: calc(10px + 2vmin);
	border-bottom: 3px solid aquamarine; 
	background-color: #282c34;
}

#logo{
	float: left; 
	padding-left: calc(15px + 2vmin);
	font-size: calc(25px + 2vmin);
}

.nav-menu{
	display: none; 
}

ul {
	list-style: none;
	display: inline; 
}

li {
	display: inline; 
	padding: 5px; 
	margin: 5px; 
}

.social-icons a{
	color: ghostwhite;
	float: right;
	padding-right: calc(10px + 2vmin);
}

.social-icons a:visited{
	color: aquamarine;
}

.Portfolio-link {
	color: aquamarine;
	text-decoration: none; 
	text-transform: uppercase;
	background-color: #282c34;
	border: none; 
	font-size: 23px; 
}

.Portfolio-link:focus {
	outline:0;
}

.footer {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
	border-top: 3px solid aquamarine; 
}

#shuttle-container{
	background-color: #282c34; 
	width: 70%;
	color: #282c34;

}

#shuttle-container:hover{
	color: white; 
	background-color: aquamarine;
	border-radius: 60%;
	width: 12%; 
}

#shuttle{
	font-size: 45px; 
	color: #282c34;
}
